In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('spam.csv', encoding='latin1')

In [3]:
print (df)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [4]:
data = df.where(pd.notnull(df), '')

In [5]:
print (data)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

     Unnamed: 3 Unnamed: 4
0
1
2
3
4
...         ...        ...
5567
5568
5569
5570
5571

[5572 rows x 5 columns]

In [6]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
data.columns = ['Category', 'Message', "Error column","Error column","Error column"]

In [9]:
data.head()

,Category,Message,Error column,Error column,Error column
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [10]:
data = data.iloc[:, :-3]

In [11]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
data.shape

(5572, 2)

In [13]:
data.loc[data['Category'] == 'spam','Category',] = 0
data.loc[data['Category'] == 'ham', 'Category',] = 1

In [14]:
X = data['Message']
Y = data['Category']

In [15]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [16]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [17]:
#Organize data into testing and training
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [18]:
print (X.shape)
print (X_train.shape)
print (X_test.shape)

(5572,)
(4457,)
(1115,)

In [19]:
print (Y.shape)
print (Y_train.shape)
print (Y_test.shape)

(5572,)
(4457,)
(1115,)

In [20]:
FE_formula =TfidfVectorizer(stop_words = 'english')

X_train_features = FE_formula.fit_transform(X_train)
x_test_features = FE_formula.transform(X_test)

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [21]:
print(X_train)

1642                             Sleeping nt feeling well
2899    Come aftr  &lt;DECIMAL&gt; ..now i m cleaning ...
480                          Almost there, see u in a sec
3485                     Yeah, probably earlier than that
157     Hello, my love. What are you doing? Did you ge...
                              ...
905     Hey what's up charles sorry about the late reply.
5192    Oh oh... Den muz change plan liao... Go back h...
3980    Huh i cant thk of more oredi how many pages do...
235     I have printed it oh. So  &lt;#&gt;  come upst...
5157                              K k:) sms chat with me.
Name: Message, Length: 4457, dtype: object

In [22]:
print(X_train_features)

  (0, 2739)	0.5661413941688949
  (0, 4734)	0.5828738807874735
  (0, 6051)	0.5828738807874735
  (1, 3431)	0.38166677083793976
  (1, 1794)	0.4928346587013423
  (1, 3179)	0.2614741786115956
  (1, 2162)	0.4118277077578676
  (1, 4152)	0.26114903371938536
  (1, 846)	0.48130454459008765
  (1, 1861)	0.27133150537215994
  (2, 5814)	1.0
  (3, 2453)	0.6394475559833329
  (3, 5280)	0.5833023528253845
  (3, 7437)	0.5008644410769376
  (4, 4412)	0.3713329375429202
  (4, 6666)	0.2584021235225953
  (4, 1430)	0.34793787477954463
  (4, 3101)	0.22624887120758294
  (4, 3252)	0.28392719425882285
  (4, 6752)	0.24670296033171316
  (4, 3620)	0.4232250841264279
  (4, 2254)	0.26218631750006244
  (4, 2353)	0.2768846196766175
  (4, 4130)	0.24304034294807647
  (4, 3312)	0.31307991873957736
  :	:
  (4452, 1695)	0.6386456703013925
  (4452, 3934)	0.4286800890390684
  (4452, 5563)	0.36520509775147814
  (4452, 6162)	0.35688242890726146
  (4452, 3335)	0.3842203242676372
  (4453, 3729)	0.3737376735558097
  (4453, 7428)	0.3737376735558097
  (4453, 2198)	0.30173040884316094
  (4453, 1681)	0.32259510446528517
  (4453, 3998)	0.28855679664532674
  (4453, 4560)	0.3486526118088619
  (4453, 5093)	0.2980911962216171
  (4453, 4794)	0.4815074576871729
  (4454, 4914)	0.5793939984280972
  (4454, 3455)	0.47481324475531766
  (4454, 6675)	0.4094407394953514
  (4454, 4858)	0.5207813917873108
  (4455, 6984)	0.5853256943578301
  (4455, 5265)	0.5580756376533823
  (4455, 4794)	0.329491674052282
  (4455, 3179)	0.27787350900869934
  (4455, 4152)	0.27752797143931307
  (4455, 1861)	0.2883490748597814
  (4456, 6098)	0.7085490640623096
  (4456, 1702)	0.7056615504733308

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X_train_features, Y_train)

LogisticRegression()

In [25]:
Training_Prediction = model.predict(X_train_features)
Training_Accuracy = accuracy_score(Y_train, Training_Prediction)

In [26]:
print('Data Accuracy: ', Training_Accuracy)

Data Accuracy:  0.9670181736594121

In [27]:
Test_Prediction = model.predict(x_test_features)
Test_Accuracy = accuracy_score(Y_test, Test_Prediction)

In [28]:
print ('Test Data Accuracy: ', Test_Accuracy)

Test Data Accuracy:  0.9775784753363229

In [29]:
def user_input(Ham, user_string):
    feature = FE_formula.transform([user_string])
    prediction = model.predict(feature)
    
    if prediction[0] == 1 and Ham:
        print('Ham SMS: True positive')
    elif prediction[0] == 1 and not Ham:
        print('Ham SMS: False positive')
    elif prediction[0] == 0 and Ham:
        print ('Spam SMS: False negative')
    elif prediction [0] == 0 and not Ham:
        print('Spam SMS: True Negative')

In [ ]:
loop = True
while (loop):
    input_string = input('Paste your SMS:')
    Truth = input('State whether mail is Ham, or Spam: ')
    Ham = (Truth == 'Ham')
    user_input(Ham, input_string)
    user_bool = input('Do you want to test another SMS? Type yes, or no: ')
    proceed = (user_bool == 'yes')
    
    if not proceed:
        loop = False

Paste your SMS:Congratulations! youhave won wkly prize 1000$
State whether mail is Ham, or Spam: Spam
Spam SMS: True Negative
Do you want to test another SMS? Type yes, or no: yes
Paste your SMS:Hello Grandpa, how are you?
State whether mail is Ham, or Spam: Ham
Ham SMS: True positive